.table {
  border-collapse: collapse;

  th, td {
    border: 1px solid #000;
    padding: 16px 32px;
    text-align: center;
  }
  td {
    cursor: pointer;
    transition: all 0.6s;
  }
  td:hover {
    opacity: 0.7;
  }
}